.bg{
    background: url('../../assets/bg-shadow.png') black;
    background-repeat: no-repeat;
}

.claim-btn{
    background-color: rgb(129, 151, 179);
    border: none;
    color: white;
}

.claim-btn:hover{
    color: black;
}

.claim-btn-border{
    border: 1px solid rgb(129, 151, 179);
}